

/* header */

#navebar .logo{
    width: 150px;
}
#navebar .btn-secondary{
    background-color: #d3daff;
    border: none;
    color: #647bfc;
    font-weight: 500;
}
#navebar .btn-flight{
    border: none;
    background-color: transparent;
    font-weight: 500;
}
/* banner */

#hotel a{
    text-decoration: none;
}
#hotel .btn-primary{
    background-color: rgb(125 108 215 / 17%);
    border: none;
    color: rgb(129 94 236);
    font-size: 15px;
    padding: 13px 27px;
}
#hotel .btn-primary:hover{
    background-color: rgba(126, 108, 215, 0.781);
    color: rgb(255, 255, 255);
}
#hotel .video-play button{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color:#ffffff;
    transform: translate(45%, 45%);
    border: none;
}
#hotel .video-play button i{
    transform: translate(12%, 0%);
}
#hotel .video-play {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 30px;
    background-image: url(./images/explore-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#hotel .img-3{
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    top: 10%;
    transform: translate(-35%, 0);
    display: block;
}
#hotel .img-4{
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    top: 30%;
    right: 0;
    left: 0;
    transform: translate(-25%, 0);
    display: block;
}
#hotel .music{
    position: absolute;
    top: -3%;
    right: -1%;
    padding: 20px 25px;
    backdrop-filter: blur(5px);
}
/* check availability */

#search{
    bottom: 8%;
}
#hotel .form-select{
    padding: 1.375rem 0.25rem 1.375rem 0.75rem;
    background-image: none;
} 
#hotel .date input{
    border: 1px solid #dee2e6;
    padding: 1.375rem 3.25rem 1.375rem 0.75rem;
    border-radius: var(--bs-border-radius);
    appearance: none;
    text-align: center;
}
#hotel .date input:focus{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}
#hotel .check{
    border-radius: 12px;
    background-color: #ffffff;
    padding: 30px;
}
#search label{
    margin-top: -13px;
    padding: 0 5px;
    background-color: white;
    z-index: 1;
    position: absolute;
}
/* search bar */

#hotel .search-bar{
    right: -40px;
    background-color: #4d2dff;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    color: white;
}
#hotel .search-bar .magnifying-glass{
    transform: translate(50%, 50%);
}
/* carousel slider */

.control{
    list-style: none;   
}
.control li{
    position:absolute;
    z-index: 99;
    color: white;
    background-color: rgb(0,0,0,0.5);
    padding: 12px 20px;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
}
.container:hover .control li.prev{
    left: 2%;
    transition: all .2s;
    visibility: visible;
}
.container:hover .control li.next{
    right: 2%;
    transition: all .2s;
    visibility: visible;
}
.control li.prev{
    left: -6%;
    transition: all .2s;
    visibility: hidden;
}
.control li.next{
    right: -6%;
    transition: all .2s;
    visibility: hidden;
}
/* clint-card */
#clint{
    background: url(./images/dot-img.svg);
}

#clint .clint-card{
    bottom: 25px;
    left: 50px;
}
#clint .clints img{
    width: 45px;
    height: 45px;
}
#clint .clints{
    margin-right: -22px;
}
#clint .thums-up{
    width: 50px;
    transform: translate(-70%, -95%);
}
#clint .hotel-quality .fs-1{
    font-size: 3rem!important;
}
#clint .hotel-quality .holiday-icons{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
#clint .hotel-quality .holiday-icons i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Featured */

#featuredHotel .map{
    bottom: 100px;
    left: 25px;
    padding: 0 10px;
}
#featuredHotel .star p{
    color: #0add96;
}
/* brand */

#brands .brand img{
    max-width: 70%;
    filter: grayscale(100);
    padding: 15px 0;
}
#brands .brand:hover img{
    transition: all .4s ease-in-out;
    transform: scale(1.2);
    filter: grayscale(0);
}
#advertise .double-quote{
    color: #1a38e5;
}
#advertise .lough{
    width: 50px;
    left: 95px;
    top: 10px;
}
#explore img{
    width: 80%;
    height: 80%;
}

/* download app */

.services-help{
    background-color: #babdbe5c;
}

/* footer top */
#footerTop .logo{
    width: 100px;
}
#footerTop p{
    color: #bfc0c4;
}
#footerMiddle .bank-card img{
    width: 80px;
}
#footerMiddle .social img{
    width: 25px;
}
#footerMiddle p{
    color: #bfc0c4;
}
