body{
    font-family: 'DM Sans', sans-serif;
}

/* header */

#navebar .logo{
    width: 150px;
}
#navebar .btn-secondary{
    background-color: #EDECFB;
    border: none;
    color: #5143D9;
    font-weight: 500;
}
#navebar .btn-flight{
    border: none;
    background-color: transparent;
    font-weight: 500;
}
#navebar .bell{
    padding: 8px;
    background-color: rgb(245, 245, 246);
}
/* banner */
.line{
    left: 0;
    top: 75%;
}
#hotel a{
    text-decoration: none;
}
#hotel .btn-primary{
    background-color: rgb(125 108 215 / 17%);
    border: none;
    color: #5D50DC;
    font-size: 15px;
    padding: 13px 27px;
}
#hotel .btn-primary:hover{
    background-color: rgba(126, 108, 215, 0.781);
    color: rgb(255, 255, 255);
}
#hotel .video-play button{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color:#ffffff;
    transform: translate(45%, 45%);
    border: none;
}
#hotel .video-play button i{
    transform: translate(12%, 0%);
}
#hotel .video-play {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 30px;
    background-image: url(./images/explore-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#hotel .img-3{
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    top: 0;
    transform: translate(-50%, 50%);
    display: block;
}
#hotel .img-4{
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    top: 100px;
    right: 0;
    left: 0;
    transform: translate(-50%, 50%);
    display: block;
}
#hotel .music{
    position: absolute;
    top: -30px;
    right: -15px;
    padding: 16px;
    backdrop-filter: blur(5px);
}
.house .leaf{
    right: 0;
    bottom: 0;
}
/* check availability */

#search{
    bottom: 8%;
}
#search .icons{
    color: #bfc0c4;
}
#hotel .form-select{
    padding: 1.375rem 0.25rem 1.375rem 0.75rem;
    background-image: none;
} 
#hotel .location{
    color: #bfc0c4;
} 
#hotel .date input{
    border: 0;
    padding: 1.375rem 0.25rem 1.375rem 0.75rem;
}
#hotel .date input:focus{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}
#hotel .check{
    border-radius: 12px;
    background-color: #ffffff;
    padding: 30px;
}
#search label{
    position: absolute;
    margin-top: -13px;
    padding: 0 5px;
    background-color: white;
    z-index: 1;
    color: #bfc0c4;
}
/* search bar */

#hotel .search-bar{
    right: -40px;
    background-color: #5143D9;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    color: white;
}
#hotel .search-bar .magnifying-glass{
    transform: translate(50%, 50%);
}
/* carousel slider */

.control{
    list-style: none;   
}
.control li{
    position:absolute;
    z-index: 99;
    color: white;
    background-color: rgb(0 0 0 / 32%);
    padding: 12px 20px;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
}
.control li.prev{
    left: -80px;
    transition: all .3s;
    visibility: hidden;
}
.control li.next{
    right: -80px;
    transition: all .3s;
    visibility: hidden;
}
#offer:hover .control li.prev{
    left: 10px;
    transition: all .3s;
    visibility: visible;
}
#offer:hover .control li.next{
    right: 10px;
    transition: all .3s;
    visibility: visible;
}
/* clint-card */
#clint{
    background: url(./images/dot-img.svg);
}
#clint .star{
    top: -36px;
    left: -3px;
}
#clint .clint-card{
    bottom: 25px;
    left: 50px;
}
#clint .dot-img{
    bottom: -50px;
    right: -40px;
}
#clint .clints img{
    width: 45px;
    height: 45px;
}
#clint .clints{
    margin-right: -22px;
}
#clint .one-thousand{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #4d2dff;
    transform: translate(60%, 30%);
}
#clint .one-thousand p{
    transform: translate(20%, 45%);
}
#clint .thums-up{
    width: 50px;
    transform: translate(-70%, -95%);
}
#clint .hotel-quality .fs-1{
    font-size: 3rem!important;
}
#clint .hotel-quality .holiday-icons{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
#clint .hotel-quality .holiday-icons i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Featured */

#featuredHotel .map{
    bottom: 100px;
    left: 25px;
    padding: 0 10px;
}
#featuredHotel .star p{
    color: #0add96;
}
.featured-card .img-fluid{
    transition: all .5s;
}
.featured-card .text-capitalize{
    transition: all .5s;
}
.featured-card:hover .img-fluid{
    transform: scale(1.1);
    transition: all .5s;
}
.featured-card:hover .text-capitalize{
    color: #647bfc;
    transition: all .5s;
}
/* brand */

#brands .brand img{
    max-width: 70%;
    filter: grayscale(100);
    padding: 15px 0;
    transition: all .3s ease-in-out;
}
#brands .brand:hover img{
    transition: all .3s ease-in-out;
    filter: grayscale(0);
}
#advertise .double-quote{
    color: #5143D9;
}
#advertise .lough{
    width: 50px;
    left: -20px;
    top: 20px;
    background-color: #FD7E14;
}
#explore img{
    width: 80%;
    height: 80%;
}
#advertise .card{
    background: none;
}
/* advertise carousel */

.control2{
    list-style: none;   
}
.control2 li{
    position:absolute;
    z-index: 99;
    color: black;
    padding: 12px 20px;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transform: translate(50%, -50%);
    border: 2px solid black;
}
.control2 li.prev{
    left: -100px;
    transition: all .3s;
    visibility: hidden;
}
.control2 li.next{
    right: -100px;
    transition: all .3s;
    visibility: hidden;
}
#advertise:hover .control2 li.prev{
    left: -25px;
    transition: all .3s;
    visibility: visible;
}
#advertise:hover .control2 li.next{
    right: -25px;
    transition: all .3s;
    visibility: visible;
}
.big-dot{
    right: -20px;
    bottom: 0;
}
/* download app */

.services-help{
    background-color: #F5F5F6;
}

/* footer top */
#footerTop .logo{
    width: 100px;
}
#footerTop p{
    color: #bfc0c4;
}
#footerMiddle .bank-cards img{
    width: 80px;
}
.bank-card{
    width: 50px;
}
.paypal{
    width: 80px;
}
#footerMiddle .social a{
    color: white;
}
#footerMiddle .social i{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#footerMiddle .social .facebook{
    width: 35px;
    height: 35px;
    background-color: rgb(76 90 161);
}
#footerMiddle .social .insta{
    width: 35px;
    height: 35px;
    background-color: #dc356b;
}
#footerMiddle .social .twit{
    width: 35px;
    height: 35px;
    background-color: rgb(61 154 233);
}
#footerMiddle .social .twit{
    width: 35px;
    height: 35px;
    background-color: rgb(61 154 233);
}
#footerMiddle .social .linkedin{
    width: 35px;
    height: 35px;
    background-color: rgb(24 132 223);
}
#footerMiddle p{
    color: #bfc0c4;
    text-decoration: none;
}


/* media query */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    #clint .dot-img {
        bottom: -50px;
        right: 32px;
    }
    #clint .dot-img {
        bottom: -50px;
        right: 276px;
    }
    #clint .dot-img {
        bottom: -50px;
        right: 34px;
    }
}
